/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 20, 2018, 3:15:05 PM
    Author     : Nadia
*/

body{
    background-color: white;
}

.logo{
    float: right;
    background-color: #800000;
    padding-top: 23%;
    padding-bottom: 15%;
}
.head{
    border: 2px solid #800000;
}

.login input.username {
    background: url(../images/l1.png) no-repeat 98% 67%;
}
.resp-tab-active{
    color: #800000;
}
.submit input[type="submit"]{
    color: #800000;
    border: 2px solid #800000;
}
.submit input[type="submit"]:hover{
    color: #ffffff;
    border: 2px solid #800000;
    background-color: #800000;
} 

